@import "main.css";
html,body{
    height: 100%;
}
.container{
	height: 100%
}
.header{
	height: 60px;
}
.main-text__text_xl{
	font-size: 20px;
}
.main-text{
  flex: 1 0 auto;
  text-align: center;
  width: 1000px;
  line-height: 2em;
  align-self: center;

}
.footer{
	flex: 0 0 auto;
}
